head
  meta(charset='UTF-8')
  title ExpressJS Login with google
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css')
  style
    include ../css/logged.css
body
  h1 Hello !
