html
  head
    meta(charset='UTF-8')
    title ExpressJS Pug Login.js
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css')
    style
      include ../css/login.css
  body
    h1 ExpressJS Pug Login
    form(action='http://localhost:3000/auth/google', method='GET')
      p
        | Login:
        input.form-control(type='text', name='login' required)
      p
        | Password:
        input.form-control(type='text', name='password' required)
      button.btn.btn-primary.my-1(type='submit') Submit
