head
  meta(charset='UTF-8')
  title ExpressJS Pug Main Page.js
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css')
  style
    include ../css/main-page.css
body
  h1 Hello #{login} !
